#lobby
	button#newRoom New Room
	input#accessCode(name="accessCode" placeholder="access code" autocorrect="off" autocapitalize="off" type="text")
	button#joinRoom Join Room
	br
	br
	| Designed by Vlaada Chvátil and published by Czech Games Edition. Please support the game designers and publishers by buying an original copy of the game. This is an unofficial implementation and not affiliated in any way with the designer or publisher.
	br
	br
	| Version 0.4 Alpha. By Zenador. Free to use.
	br
	a(href="http://nightphase.herokuapp.com/" target="_blank") Hidden role games
	| | 
	a(href="http://quiztimegame.herokuapp.com/" target="_blank") Psych/Fibbage
	| | 
	a(href="http://perceivegame.herokuapp.com/" target="_blank") Perceive
